h2{color:green; font-size:48px;}
body{background-color:#abcdef}
p{color:orange; background-color: #000}
#para1{color:yellow; font-size: 26px}
#para2{color:cyan; font-size: 28px}
.paras{text-align: right}
.fs{font-size:30px}